

@font-face {
  font-family: orangekid;
  src: url(orangekid.woff);
}

html {
  background: url("../images/store.webp") no-repeat center center fixed;
  background-size: cover;
}


h1 {
font-family: orangekid, arial;
color: white;
font-size: 45px;
display: block;
align-items: center;

}

a {
color: yellow;
font-family: orangekid, arial;
font-size: 25px;

}

a:hover{
color: red;

}

div {
            position: absolute;
            display: block;
            top: 0;
            height: 120px;
            width: 110px;
            background: ;
            text-align: center;
            line-height: 30px;
            border-radius: 15px 15px 15px 15px;
            }
