

@font-face {
  font-family: orangekid;
  src: url(orangekid.woff);
}

html {
  background: url("../images/store_edit.webp") no-repeat center center fixed;
  background-size: cover;
  cursor: url('../images/cursor-pointer.png'), auto;
}

body {


}

:root {
  --highlight-color: null;
}

::selection {
  background: var(--highlight-color);
}

h1 {
font-family: orangekid, arial;
color: #b09643;
font-size: 65px;
display: block;
align-items: center;

}

h1:hover {
cursor: ('../images/cursor-highlighter.png'),auto;

}

a {
color: #4a588e;
font-family: orangekid, arial;
font-size: 25px;
line-height: 0.3px;

}

a:hover {
color: #78a158;
cursor: url('../images/cursor-hover.png'),auto;

}

#div3 {
line-height: 20px;

}

div {
            position: absolute;
            display: block;
            top: 0;
            height: 120px;
            width: 120px;
            background: ;
            text-align: center;
            line-height: 30px;
            border-radius: 15px 15px 15px 15px;
            cursor: url('../images/cursor-move.png'),auto;
            }
